<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link rel="shortcut icon" href="/assets/ico/baseline_school_black_18dp.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/style.css">


    {% block head %}
    <title>Aulas Particulares</title>
    {% endblock %}

</head>
<body>
    <header>
        <div class="links">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <script src="/scripts.js"></script>

</body>
</html>