{% extends 'layout.njk' %}

{% block head %}
<title>RocketSeat | Página não encontrada</title>
{% endblock %}

{% block content %}
    <div class="erro404">
        <h1>Ops! erro 404!</h1>
        <p>Não encontrei o que você está procurando!</p>
        <img src="https://media.giphy.com/media/KKOMG9EB7VqBq/giphy-downsized.gif" alt="Jhonn Travolta Confuso">
    </div>
{% endblock %}